@font-face {
  font-family: "Segoe Script";
  src: url(../fonts/segoesc.ttf) format("truetype");
}

:root {
  --Desktop-size: 1200px;
  --Laptop-size: 1024px;
  --Tablet-size: 768px;
  --Phone-size: 500px;
  --background-color: #1f2235;
  --lightbackground-color: #1f234a;
  --field-background-color: #232a67;
  --placeholder-text: #959595;
  --main-color: #ff4b4b;
  --light-white: #ffffff;
  --transition-time: 0.2s;
  --button-active-time: 0.1s;
  --button-text-size: 1.4vw;
  --header-text-size: 4rem;
  --label-size: 1.2vw;
  --links-size: 1.5vw;
  --nav-height: 12vh;
  --mobile-nav-height: 7vh;
}

body {
  background-color: lightseagreen;
  width: 100vw;
  overflow-x: hidden;
  max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: var(--background-color);
  height: var(--nav-height);
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 10;
}

@media (max-width: 768px) {
  nav {
    height: 8vh;
  }
}

nav .mobile-nav {
  height: 8vh;
  width: 8vh;
  float: right;
  margin-right: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  nav .mobile-nav {
    display: none;
  }
}

nav .mobile-nav button {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  display: none;
}

nav .mobile-nav button#menuOpen.active {
  display: block;
}

nav .mobile-nav button#menuClose.active {
  display: block;
}

nav .mobile-nav button:focus {
  outline: none;
}

nav .mobile-nav i {
  font-size: 2rem;
  color: white;
}

@media (max-width: 768px) {
  nav .navigation {
    height: 8vh;
  }
}

nav .navigation label.logo {
  position: absolute;
  float: left;
  left: 10%;
  line-height: var(--nav-height);
  color: var(--main-color);
  font-size: 3vw;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav .navigation label.logo {
    font-size: 2rem;
    line-height: 8vh;
  }
}

nav .navigation ul.links {
  position: relative;
  right: 0px;
  float: right;
  margin-right: 8vw;
  color: var(--light-white);
}

@media (max-width: 768px) {
  nav .navigation ul.links {
    display: none;
  }
}

nav .navigation ul.links li {
  position: relative;
  line-height: 8vh;
  font-size: var(--links-size);
  padding: 2vh;
  float: left;
  -webkit-transition: all var(--transition-time) var(--main-color);
  transition: all var(--transition-time) var(--main-color);
  list-style: none;
}

nav .navigation ul.links li a {
  text-decoration: none;
  color: var(--light-white);
  -webkit-transition: all var(--transition-time) ease-in-out;
  transition: all var(--transition-time) ease-in-out;
}

nav .navigation ul.links li a:hover {
  color: var(--main-color);
  cursor: pointer;
}

nav .navigation.active {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  z-index: 3;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

nav .navigation.active ul.links {
  width: 100%;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

nav .navigation.active ul.links li a {
  font-size: 2.5rem;
}

.home {
  height: 100vh;
  width: 100vw;
  min-height: 800px;
  background-color: var(--lightbackground-color);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home .background-text {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .background-text label {
  position: relative;
  font-family: "Segoe Script";
  color: var(--light-white);
  font-size: 8rem;
  opacity: 0.04;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .home .background-text label {
    -webkit-transform: rotate(296deg);
            transform: rotate(296deg);
    font-size: 5rem;
  }
}

.home .left-details {
  height: 100vh;
  width: 55vw;
  padding-left: 10%;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .home .left-details {
    width: 100vw;
    height: 50%;
    padding-left: 0;
    padding-top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.home .left-details .social-media-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: -0.2rem;
}

@media (max-width: 768px) {
  .home .left-details .social-media-links ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4vh;
  }
}

.home .left-details .social-media-links ul li {
  list-style: none;
  margin: 0 0.5vw;
  height: 3.5vw;
  width: 3.5vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 0.5vh solid var(--main-color);
  border-radius: 50%;
  -webkit-transition: all var(--transition-time) ease-in-out;
  transition: all var(--transition-time) ease-in-out;
}

@media (max-width: 768px) {
  .home .left-details .social-media-links ul li {
    height: 6vh;
    width: 6vh;
    border: 0.5vw solid var(--main-color);
    margin: 0 0.4rem;
  }
}

.home .left-details .social-media-links ul li:hover {
  background-color: var(--main-color);
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.home .left-details .social-media-links ul li a {
  text-decoration: none;
}

.home .left-details .social-media-links ul li a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2vw;
  color: var(--light-white);
  line-height: 3.5vw;
  -webkit-transition: color var(--transition-time) ease-in-out;
  transition: color var(--transition-time) ease-in-out;
}

@media (max-width: 768px) {
  .home .left-details .social-media-links ul li a i {
    font-size: 3vh;
    line-height: 6vh;
  }
}

.home .left-details .name-label {
  font-size: 3.2rem;
  color: var(--light-white);
  font-weight: 100;
}

@media (max-width: 768px) {
  .home .left-details .name-label {
    text-align: center;
    font-size: 2rem;
    margin-top: 2vh;
  }
}

.home .left-details .name-label span {
  font-weight: 500;
}

.home .left-details .intro {
  font-size: 2vw;
  color: var(--light-white);
  font-weight: 200;
}

@media (max-width: 768px) {
  .home .left-details .intro {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2vh;
    padding: 0 10vw;
  }
}

.home .left-details .btnPortfolio {
  text-decoration: none;
}

@media (max-width: 768px) {
  .home .left-details .btnPortfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    margin-top: 2vh;
  }
}

.home .left-details .my-portfolio-btn {
  background-color: transparent;
  color: var(--light-white);
  height: 10vh;
  width: 15vw;
  margin-top: 3vw;
  border: 0.5vh solid var(--main-color);
  border-radius: 999px;
  font-size: var(--button-text-size);
  -webkit-transition: all var(--button-active-time) ease-in-out;
  transition: all var(--button-active-time) ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .home .left-details .my-portfolio-btn {
    width: 50vw;
    height: 7vh;
    font-size: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0.5vw solid var(--main-color);
    max-width: 250px;
  }
}

.home .left-details .my-portfolio-btn:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.home .left-details .my-portfolio-btn:focus {
  outline: none;
}

.home .left-details .my-portfolio-btn:active {
  outline: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.home .right-image {
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .home .right-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100vw;
    height: 60vh;
  }
}

.home .right-image img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 85vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 768px) {
  .home .right-image img {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .home .right-image img {
    height: 40vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.about {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--light-white);
  padding-top: var(--nav-height);
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .about {
    padding-top: var(--mobile-nav-height);
  }
}

.about .background-text {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  margin-top: -7vh;
}

.about .background-text label {
  position: relative;
  font-family: "Segoe Script";
  color: var(--light-white);
  font-size: 17rem;
  opacity: 0.04;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: inherit;
}

@media (max-width: 768px) {
  .about .background-text label {
    -webkit-transform: rotate(306deg);
            transform: rotate(306deg);
    font-size: 10rem;
  }
}

.about .header {
  position: relative;
  width: 100%;
  height: 7vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
}

.about .header::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -2vh;
  left: 50%;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  width: 10vw;
  border-radius: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .about .header::before {
    bottom: -1vh;
  }
}

.about .left-image {
  float: left;
  height: 100%;
  width: 49vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .about .left-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100vw;
    height: 50vh;
  }
}

.about .left-image img.profile-image {
  height: 70vh;
  z-index: inherit;
}

@media (max-width: 768px) {
  .about .left-image img.profile-image {
    height: 45vh;
    margin-left: 4vw;
  }
}

.about .right {
  float: left;
  height: 100%;
  width: 49vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

@media (max-width: 768px) {
  .about .right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100vw;
    height: 50vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.about .right .greting {
  font-weight: normal;
  font-size: 2.5vw;
  z-index: inherit;
}

@media (max-width: 768px) {
  .about .right .greting {
    font-size: 2rem;
    padding: 0;
  }
}

.about .right .discription {
  font-size: 1.3vw;
  margin-top: 3vh;
  padding-right: 8vw;
  z-index: inherit;
}

@media (max-width: 768px) {
  .about .right .discription {
    text-align: center;
    font-size: 1rem;
    padding: 0 10%;
  }
}

.about .right .btn {
  background-color: transparent;
  color: var(--light-white);
  height: 10vh;
  width: 17vw;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  font-size: var(--button-text-size);
  text-align: center;
  padding: 1rem 2rem;
  -webkit-transition: all var(--button-active-time) ease-in-out;
  transition: all var(--button-active-time) ease-in-out;
  margin-top: 3vh;
  z-index: inherit;
}

@media (max-width: 768px) {
  .about .right .btn {
    text-align: center;
    width: 50vw;
    height: 7vh;
    font-size: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0.5vw solid var(--main-color);
    max-width: 250px;
  }
}

.about .right .btn:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.about .right .btn:focus {
  outline: none;
}

.about .right .btn:active {
  outline: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.skills {
  position: relative;
  background-color: var(--lightbackground-color);
  min-height: 100vh;
  width: 100vw;
  color: var(--light-white);
  padding-top: calc(var(--nav-height) + 2vh);
  padding-bottom: 4vh;
}

@media (max-width: 768px) {
  .skills {
    padding-top: var(--mobile-nav-height);
  }
}

.skills .background-text {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .background-text label {
  position: relative;
  font-family: "Segoe Script";
  color: var(--light-white);
  font-size: 20vw;
  opacity: 0.04;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 768px) {
  .skills .background-text label {
    font-size: 11rem;
    -webkit-transform: rotate(311deg);
            transform: rotate(311deg);
  }
}

.skills .header {
  position: relative;
  width: 100%;
  height: 7vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
}

.skills .header::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -2vh;
  left: 50%;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  width: 10vw;
  border-radius: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .skills .header::before {
    bottom: -1vh;
  }
}

.skills .cards {
  position: relative;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .cards .card {
  position: relative;
  height: 13vw;
  width: 13vw;
  min-width: 180px;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 30px;
  border-radius: 10px;
  background-color: var(--background-color);
  -webkit-transition: -webkit-transform var(--transition-time) ease-in-out;
  transition: -webkit-transform var(--transition-time) ease-in-out;
  transition: transform var(--transition-time) ease-in-out;
  transition: transform var(--transition-time) ease-in-out, -webkit-transform var(--transition-time) ease-in-out;
}

.skills .cards .card img {
  height: 10vw;
  width: 10vw;
  min-width: 130px;
  min-height: 130px;
}

.skills .cards .card label {
  position: relative;
  top: 10px;
}

.skills .cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.portfolio {
  position: relative;
  background-color: var(--background-color);
  width: 100vw;
  color: var(--light-white);
  overflow: hidden;
  padding-top: calc(var(--nav-height) + 2vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4vh;
}

.portfolio .background-text {
  position: absolute;
  width: 100%;
  height: 80vh;
  top: 80px;
}

.portfolio .background-text label {
  position: absolute;
  font-family: "Segoe Script";
  width: 90%;
  color: var(--light-white);
  left: 5%;
  font-size: 19vw;
  opacity: 0.05;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 160px;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.portfolio .header {
  position: relative;
  width: 100%;
  height: 7vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
}

.portfolio .header::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -2vh;
  left: 50%;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  width: 10vw;
  border-radius: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .portfolio .header::before {
    bottom: -1vh;
  }
}

.portfolio .cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5vh;
}

.portfolio .cards .card {
  position: relative;
  height: 42vh;
  width: 32vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 1.5rem;
  background-color: var(--background-color);
  -webkit-transition: -webkit-transform var(--transition-time) ease-in-out;
  transition: -webkit-transform var(--transition-time) ease-in-out;
  transition: transform var(--transition-time) ease-in-out;
  transition: transform var(--transition-time) ease-in-out, -webkit-transform var(--transition-time) ease-in-out;
}

.portfolio .cards .card img {
  height: 100%;
  width: 100%;
}

.portfolio .cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.portfolio .btn {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.portfolio .btn button {
  background-color: transparent;
  color: var(--light-white);
  height: 10vh;
  width: 17vw;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  font-size: var(--button-text-size);
  text-align: center;
  -webkit-transition: all var(--button-active-time) ease-in-out;
  transition: all var(--button-active-time) ease-in-out;
  z-index: 1;
}

@media (max-width: 768px) {
  .portfolio .btn button {
    text-align: center;
    width: 50vw;
    height: 7vh;
    font-size: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0.5vw solid var(--main-color);
    max-width: 250px;
  }
}

.portfolio .btn button i {
  margin-left: 1rem;
}

.portfolio .btn button:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.portfolio .btn button:focus {
  outline: none;
}

.portfolio .btn button:active {
  outline: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact {
  position: relative;
  background-color: var(--lightbackground-color);
  width: 100vw;
  color: var(--light-white);
  padding-top: calc(var(--nav-height) + 2vh);
  padding-bottom: 4vh;
}

@media (max-width: 768px) {
  .contact {
    padding-top: calc(var(--mobile-nav-height) + 2vh);
  }
}

.contact .header {
  position: relative;
  width: 100%;
  height: 7vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
}

.contact .header::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -2vh;
  left: 50%;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  width: 10vw;
  border-radius: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .contact .header::before {
    bottom: -1vh;
  }
}

.contact .contact-card {
  width: 60vw;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .contact .contact-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.contact .contact-card a {
  text-decoration: none;
  color: var(--light-white);
}

.contact .contact-card .card {
  position: relative;
  width: 45vw;
  background-color: var(--background-color);
  height: 15vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .contact .contact-card .card {
    margin-top: 1rem;
    width: 90vw;
    height: 12vh;
    min-width: 110px;
  }
}

.contact .contact-card .card .logo {
  width: 28%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-card .card .logo i {
  position: relative;
  font-size: 2.2rem;
  color: var(--main-color);
}

@media (max-width: 768px) {
  .contact .contact-card .card .logo i {
    font-size: 7vw;
  }
}

.contact .contact-card .card .info {
  width: 68%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .contact .contact-card .card .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact .contact-card .card .info label {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contact .contact-card .card .info label {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 4vw;
  }
}

.footer {
  position: relative;
  background-color: var(--background-color);
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer label {
  color: var(--light-white);
  font-size: var(--label-size);
  text-align: center;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .footer label {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */